body {
  margin: 0;
  padding: 0;
  background: #0f172a;
  color: #e2e8f0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* CONTENEDOR */
.container {
  text-align: center;
}

h1 {
  font-size: 120px;
  margin: 0;
  color: #38bdf8;
}

h2 {
  margin: 10px 0;
}

p {
  color: #94a3b8;
}

/* BOTÓN */
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #38bdf8;
  color: #0f172a;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  background: #0ea5e9;
}

/* TEXTO OCULTO */
.oculto {
  color: transparent;   /* invisible */
  transition: 0.3s;
  cursor: pointer;
}

/* SE MUESTRA AL PASAR EL MOUSE */
.oculto:hover {
  color: #e2e8f0;
}

/* SE VE AL SELECCIONAR */
.oculto::selection {
  color: #000;
  background: #38bdf8;
}
