/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FONDO */
body {
  height: 100vh;
  background: #0f172a;
  color: #e2e8f0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTENEDOR */
.container {
  text-align: center;
}

/* 404 GRANDE */
h1 {
  font-size: 120px;
  color: #38bdf8;
}

/* SUBTITULO */
h2 {
  margin: 10px 0;
  font-weight: normal;
}

/* TEXTO */
p {
  color: #94a3b8;
  margin-top: 10px;
}

/* BOTÓN */
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #38bdf8;
  color: #0f172a;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  background: #0ea5e9;
}

/* 🔥 TEXTO OCULTO */
.oculto {
  color: transparent;   /* invisible */
  user-select: text;    /* permite seleccionarlo */
  cursor: pointer;
  transition: 0.3s;
}

/* aparece al pasar el mouse */
.oculto:hover {
  color: #e2e8f0;
}

/* aparece al seleccionarlo */
.oculto::selection {
  color: #000;
  background: #38bdf8;
}
